
    <div class="card">
        <div class="card-body container-page">
            <div class="d-flex-wrap d-gap d-space-bw mt-3">
                <div class="card-title mb-2 p-0">
                    <i class="bi bi-camera-video"></i>
                    KIỂM SOÁT VÀO RA
                </div>
                <div class="col-md-3" *ngIf="userInfo?.userType == 'ADMIN' || userInfo?.userType == 'LANH_DAO'">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <app-input-custom [options]="optionsArea" [prop]="'name'"
                                    (valueChange)="onChangeArea($event)" (selectItem)="onSelectItemArea($event)">
                                </app-input-custom>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container border-top border-bottom mb-3" style="padding-top: 12px; overflow: hidden;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex-wrap d-gap d-space-bw mt-3">
                            <div class="card-title mb-2 p-0">
                                <i class="bi bi-film"></i>
                                Camera cổng vào
                            </div>
                        </div>

                        <img *ngIf="canPlayStreamIn == false" src="../../../../../assets/img/video-thumbnails.jpg"
                            alt="" width="100%">
                        <video *ngIf="canPlayStreamIn == true" id="stream_in" autoplay width="100%"></video>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex-wrap d-gap d-space-bw mt-3">
                            <div class="card-title mb-2 p-0">
                                <i class="bi bi-film"></i>
                                Camera cổng ra
                            </div>
                        </div>

                        <img *ngIf="canPlayStreamOut == false" src="../../../../../assets/img/video-thumbnails.jpg"
                            alt="" width="100%">
                        <video *ngIf="canPlayStreamOut == true" id="stream_out" autoplay width="100%"></video>

                    </div>
                </div>
            </div>
        </div>
    </div>