.list-container {
  height: 100%;
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.text-right {
  text-align: right !important;
}

.multi-dropdown {
  position: relative;
  height: 33px;
  min-width: 200px;
  flex: 1;
  .dropdown-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    width: 70%;
    overflow: hidden;
  }
}

::ng-deep .mat-mdc-select-value {
  display: none;
}
::ng-deep .mat-mdc-select-trigger {
  justify-content: flex-end;
}

.accordion-button {
  background: transparent;
  justify-content: center;
  padding: 0px;
  transform: scale(0.6);
  &::after {
    margin: 0;
    font-size: 12px;
  }
}
