.export-table {
  width: 100%;
}
.frame {
  border: 1px solid #cecece;
  border-radius: 8px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.p-20 {
  padding: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pt-10 {
  padding-top: 10px;
}
thead th {
  white-space: nowrap;
  font-weight: 600;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}
tbody td {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.table--custom {
  tr {
    td {
      border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    }
  }
}
.export-line {
  div {
    &:nth-child(1) {
      font-weight: 600;
    }
  }
}
.export-input {
  text-align: right;
  label {
    font-weight: 600;
  }
  input {
    margin-top: 5px;
    text-align: right;
    padding-right: 0px;
  }
}
