<div class="col-md-12 main-content">
    <div class="col-md-12 header-content">
        <div class="row">
            <div class="col-md-2" style="width: fit-content;">
                <img src="../../../../../assets/img/logo-petrolimex.jpg" width="60px" alt="">
            </div>
            <div class="col-md-10" style="text-align: center; color: white;">
                <h3 style="margin: 12px;">Xin mời số: 23 - Trần Văn Anh vào lấy Ticket</h3>
            </div>
        </div>
    </div>
    <div style="margin: 12px;">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th colspan="2">Thiết bị</th>
                    <th rowspan="2">Mặt hàng</th>
                    <th rowspan="2">Xe đang lấy hàng</th>
                    <th colspan="4">Thứ tự xếp hàng</th>
                </tr>
                <tr>
                    <th>Giàn</th>
                    <th>Họng</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>