  .label-text{
    font-size: 14px;
    font-weight: 400;
    color: rgba(1, 41, 112, 0.7);
  }
  .main-title{
    margin-top: 15px;
    margin-left: 10px;
  }
  #main{
    margin-top:0;
    padding:0 10px;
  }
  .input-with-icon {
    position: relative;
    input {
      padding-right: 30px;
    }
    i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .invalid {
      border-color : #dc3545;
    }
  }
  .invalid-text {
    color: #dc3545;
    font-size: 13px;
  }
 
