<div class="card order-create-container" style="height: calc(100vh - 50px)">
  <div class="card-body">
    <div class="d-flex-wrap d-gap d-space-bw border-bottom pt-3 header-drawer">
      <div class="card-title mb-2 p-0">
        <i class="bi bi-plus-lg"></i>
        Thêm mới đơn hàng
      </div>
      <div class="d-flex-wrap d-gap">
        <div class="mb-3">
          <button (click)="onCreate()" type="button" class="btn btn-primary" submitForm>
            <i class="bi bi-check2-all"></i> Lưu thông tin
          </button>
        </div>
        <div class="mb-3">
          <button type="button" (click)="close()" class="btn btn-warning"><i class="bi bi-x-circle"></i> Đóng</button>
        </div>
      </div>
    </div>
    <div class="pb-3">
      <form *ngIf="orderForm" [formGroup]="orderForm" (ngSubmit)="onCreate()">
        <div class="fade show active pt-3" role="tabpanel" aria-labelledby="info-tab">
          <div class="row g-3">
            <div class="text-lg col-md-12 fw-bold">
              <i class="bi bi-person"></i>
              Khách hàng
            </div>
            <div class="col-md-6">
              <label class="form-label">Khách hàng<span class="text-danger ms-1">*</span></label>
              <input [ngClass]="{'is-invalid': submitted && f['partnerName'].errors}" type="text"
                placeholder="Khách hàng" aria-label="Khách hàng" class="form-control" (input)="onChangePartner($event)"
                [matAutocomplete]="partnerRef" formControlName="partnerName" />
              <mat-autocomplete #partnerRef="matAutocomplete">
                <mat-option *ngFor="let partner of listPartnerFilter" [value]="partner.name"
                  (onSelectionChange)="selectPartner(partner, $event)">
                  <span>
                    {{ partner.name }}
                  </span>
                </mat-option>
              </mat-autocomplete>
              <div *ngIf="submitted && f['partnerName'].errors" class="invalid-feedback">
                <div *ngIf="f['partnerName']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Ghi chú</label>
              <input type="text" class="form-control" formControlName="partnerNote" />
            </div>
            <div class="col-md-6">
              <label class="form-label">Địa chỉ</label>
              <input type="text" class="form-control" formControlName="address" />
            </div>
            <div class="col-md-6">
              <label class="form-label">Số điện thoại</label>
              <input type="number" class="form-control" formControlName="phoneNumber" />
            </div>

            <div class="text-lg col-md-12 fw-bold">
              <i class="bi bi-info-circle"></i>
              Thông tin công trình
            </div>

            <ng-container formArrayName="pourDateTimeArray">
              <ng-container *ngFor="let dateTimeGroup of pourDateTimeArray.controls; let i = index" [formGroupName]="i">
                <div class="col-sm-6 pr-1">
                  <label class="form-label">Ngày đổ<span class="text-danger ms-1">*</span></label>
                  <input [ngClass]="{'is-invalid': submitted && dateTimeGroup?.get('pourDate')?.hasError('required')}"
                    type="date" class="form-control" formControlName="pourDate" />
                  <div *ngIf="submitted && dateTimeGroup.get('pourDate')?.hasError('required')"
                    class="invalid-feedback">
                    <div>Không được để trống</div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label class="form-label">Giờ đổ<span class="text-danger ms-1">*</span></label>
                  <div class="wrapper-date-order" [ngClass]="i == 0 ? '' : 'pe-4'">
                    <input [ngClass]="{'is-invalid': submitted && dateTimeGroup.get('pourTime')?.hasError('required')}"
                      type="time" class="form-control" formControlName="pourTime" />
                    <i *ngIf="i > 0" (click)="removePourDateTime(i)" class="bi bi-dash-circle minus-field"></i>
                    <div *ngIf="submitted && dateTimeGroup.get('pourTime')?.hasError('required')"
                      class="invalid-feedback">
                      <div>Không được để trống</div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>

            <div class="col-md-12">
              <div (click)="addPourDateTime()" class="add-field"><i class="bi bi-plus-lg me-1"></i> Add Field</div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Khu vực<span class="text-danger ms-1">*</span></label>
              <select [ngClass]="{'is-invalid': submitted && f['areaCode'].errors}" class="form-select"
                aria-label="Khu vực" formControlName="areaCode">
                <option value="" selected>Khu vực</option>
                <option *ngFor="let item of listAreaAll" [value]="item.code">{{ item.name }}</option>
              </select>
              <div *ngIf="submitted && f['areaCode'].errors" class="invalid-feedback">
                <div *ngIf="f['areaCode']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Loại đơn hàng<span class="text-danger ms-1">*</span></label>
              <select [ngClass]="{'is-invalid': submitted && f['orderTypeCode'].errors}" class="form-select"
                aria-label="Loại đơn hàng" formControlName="orderTypeCode">
                <option value="" selected>Loại đơn hàng</option>
                <option *ngFor="let item of listOrderTypeAll" [value]="item.code">{{ item.name }}</option>
              </select>
              <div *ngIf="submitted && f['orderTypeCode'].errors" class="invalid-feedback">
                <div *ngIf="f['orderTypeCode']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Hình thức đổ<span class="text-danger ms-1">*</span></label>
              <select [ngClass]="{'is-invalid': submitted && f['pourTypeCode'].errors}" class="form-select"
                aria-label="Hình thức đổ" formControlName="pourTypeCode">
                <option value="" selected>Hình thức đổ</option>
                <option *ngFor="let item of listPourTypeAll" [value]="item.code">{{ item.name }}</option>
              </select>
              <div *ngIf="submitted && f['pourTypeCode'].errors" class="invalid-feedback">
                <div *ngIf="f['pourTypeCode']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Hạng mục công trình<span class="text-danger ms-1">*</span></label>
              <input [ngClass]="{'is-invalid': submitted && f['pourCategory'].errors}" type="text" class="form-control"
                formControlName="pourCategory" />
              <div *ngIf="submitted && f['pourCategory'].errors" class="invalid-feedback">
                <div *ngIf="f['pourCategory']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-12">
              <label class="form-label">Địa điểm đổ<span class="text-danger ms-1">*</span></label>
              <input [ngClass]="{'is-invalid': submitted && f['pourLocation'].errors}" type="text" class="form-control"
                formControlName="pourLocation" />
              <div *ngIf="submitted && f['pourLocation'].errors" class="invalid-feedback">
                <div *ngIf="f['pourLocation']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="text-lg col-md-12 fw-bold">
              <i class="bi bi-box"></i>
              Hàng hoá chính
            </div>
            <div class="col-md-6">
              <label class="form-label">Sản phẩm<span class="text-danger ms-1">*</span></label>
              <input [ngClass]="{'is-invalid': submitted && f['itemNameMain'].errors}" type="text"
                placeholder="Sản phẩm" aria-label="Sản phẩm" class="form-control" (input)="onChangeItemMain($event)"
                [matAutocomplete]="itemCodeMainRef" formControlName="itemNameMain" />
              <mat-autocomplete #itemCodeMainRef="matAutocomplete">
                <mat-option *ngFor="let item of listItemFilterMain" [value]="item.name"
                  (onSelectionChange)="selectItemMain(item, $event)">
                  <span>
                    {{ item.name }}
                  </span>
                </mat-option>
              </mat-autocomplete>
              <div *ngIf="submitted && f['itemNameMain'].errors" class="invalid-feedback">
                <div *ngIf="f['itemNameMain']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Đơn vị tính</label>
              <input type="text" class="form-control" formControlName="unitCodeMain" />
            </div>
            <div class="col-md-6">
              <label class="form-label">Thành phần cát chính<span class="text-danger ms-1">*</span></label>
              <select [ngClass]="{'is-invalid': submitted && f['sandCode'].errors}" class="form-select"
                aria-label="Thành phần cát chính" formControlName="sandCode">
                <option value="" selected>Thành phần cát chính</option>
                <option *ngFor="let item of listSandAll" [value]="item.code">{{ item.name }}</option>
              </select>
              <div *ngIf="submitted && f['sandCode'].errors" class="invalid-feedback">
                <div *ngIf="f['sandCode']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Thành phần đá chính<span class="text-danger ms-1">*</span></label>
              <select [ngClass]="{'is-invalid': submitted && f['stoneCode'].errors}" class="form-select"
                aria-label="Thành phần đá chính" formControlName="stoneCode">
                <option value="" selected>Thành phần đá chính</option>
                <option *ngFor="let item of listStoneAll" [value]="item.code">{{ item.name }}</option>
              </select>
              <div *ngIf="submitted && f['stoneCode'].errors" class="invalid-feedback">
                <div *ngIf="f['stoneCode']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Khối lượng đặt<span class="text-danger ms-1">*</span></label>
              <input [ngClass]="{'is-invalid': submitted && f['orderNumberMain'].errors}" type="text"
                class="form-control" formControlName="orderNumberMain" appCommaSeparated />
              <div *ngIf="submitted && f['orderNumberMain'].errors" class="invalid-feedback">
                <div *ngIf="f['orderNumberMain']['errors']['min'] || f['orderNumberMain']['errors']['required']">Nhập
                  khối lượng khác 0</div>
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Độ sụt<span class="text-danger ms-1">*</span></label>
              <input [ngClass]="{'is-invalid': submitted && f['slump'].errors}" type="text" class="form-control"
                formControlName="slump" />
              <div *ngIf="submitted && f['slump'].errors" class="invalid-feedback">
                <div *ngIf="f['slump']['errors']['required']">Không được để trống</div>
              </div>
            </div>
            <div class="text-lg col-md-12 fw-bold">
              <i class="bi bi bi-plug"></i>
              Dịch vụ kèm theo
            </div>
            <div class="col-md-6">
              <label class="form-label">Sản phẩm</label>
              <input type="text" placeholder="Sản phẩm" aria-label="Sản phẩm" class="form-control"
                (input)="onChangeItemSub($event)" [matAutocomplete]="itemCodeSubRef" formControlName="itemNameSub" />
              <mat-autocomplete #itemCodeSubRef="matAutocomplete">
                <mat-option *ngFor="let item of listItemFilterSub" [value]="item.name"
                  (onSelectionChange)="selectItemSub(item, $event)">
                  <span>
                    {{ item.name }}
                  </span>
                </mat-option>
              </mat-autocomplete>
            </div>
            <div class="col-md-6">
              <label class="form-label">Đơn vị tính</label>
              <input type="text" class="form-control" formControlName="unitCodeSub" />
            </div>
            <div class="col-md-12">
              <label class="form-label">Khối lượng tạo<span *ngIf="f['itemCodeSub']['value'] != ''"
                  class="text-danger ms-1">*</span></label>
              <input [ngClass]="{'is-invalid': submitted && f['orderNumberSub'].errors}" type="text"
                class="form-control" formControlName="orderNumberSub" appCommaSeparated />
              <div *ngIf="submitted && f['orderNumberSub'].errors" class="invalid-feedback">
                <div *ngIf="f['orderNumberSub']['errors']['min'] || f['orderNumberSub']['errors']['required']">Nhập khối
                  lượng khác 0</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>