<div class="row">
    <div class="col-md-6 " style="padding-right: 2px;">
        <div class="card">
            <div class="card-body container-page">
                <div class="d-flex-wrap d-gap d-space-bw mt-3">
                    <div class="card-title mb-2 p-0">
                        <i class="bi bi-camera-video"></i>
                        KIỂM SOÁT XE VÀO
                    </div>
                </div>

                <div class="list-container border-top border-bottom mb-3" style="padding-top: 12px; overflow: hidden;">
                    
                    <!-- When don't have data check-in -->
                    <div class="d-flex-wrap d-gap" *ngIf="imagePlate == imageThumbnails">
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" (click)="onClickCheckIn();">
                                <i class="bi bi-camera"></i> Check-in
                            </button>
                        </div>

                        <div class="mb-3">
                            <a type="button" class="btn btn-success" routerLink="/master-data/drivers">
                                <i class="bi bi-person-bounding-box"></i> Đăng ký tài xế
                            </a>
                        </div>
                        <div class="mb-3">
                            <a type="button" class="btn btn-danger" routerLink="/master-data/vehicle">
                                <i class="bi bi-truck"></i> Đăng ký xe
                            </a>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary" (click)="refreshCamera();">
                                <i class="bi bi-arrow-repeat"></i>
                            </button>
                        </div>
                    </div>
                    <!-- When click check-in -->
                    <div class="d-flex-wrap d-gap" *ngIf="imagePlate != imageThumbnails">
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary" (click)="onClickCheckIn();">
                                <i class="bi bi-camera"></i> Nhận diện lại
                            </button>
                        </div>

                        <div class="mb-3">
                            <button type="button" class="btn btn-danger">
                                <i class="bi bi-x-octagon"></i> Không cho vào
                            </button>
                        </div>

                        <div class="mb-3">
                            <button type="button" class="btn btn-warning">
                                <i class="bi bi-x-diamond"></i> Cấp hàng chờ
                            </button>
                        </div>

                        <div class="mb-3">
                            <button type="button" class="btn btn-success" (click)="onClickCapSo()">
                                <i class="bi bi-ticket-perforated"></i> Cấp số
                            </button>
                        </div>
                    </div>

                    <!-- Stream Camera -->
                    <video id="stream_in" autoplay width="100%"></video>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-left: 2px;">
        <div class="card">
            <div class="card-body container-page" style="height: fit-content;">
                <div class="d-flex-wrap d-gap d-space-bw mt-3">
                    <div class="card-title mb-2 p-0">
                        <i class="bi bi-info-square"></i>
                        THÔNG TIN XE
                    </div>
                </div>

                <div class="list-container border-top border-bottom mb-3"
                    style="padding-top: 12px; overflow: unset;border-bottom: none !important;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thời gian</label>
                                <input type="text" class="form-control" [ngModel]="dataCheckIn.timeCheckIn | date:'dd/MM/yyyy hh:mm:ss'" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số DO SAP</label>
                                <ng-select [(ngModel)]="dataCheckIn.doSap">
                                    <ng-option *ngFor="let item of lstOrderSmo"
                                        [value]="item?.doSap">{{item?.doSap}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Biển số</label>
                            <ng-select [(ngModel)]="dataCheckIn.vehicle" [disabled]="imagePlate == imageThumbnails">
                                        <ng-option *ngFor="let item of optionsVehicle"
                                            [value]="item?.code">{{item?.code}}</ng-option>
                                    </ng-select>
                          </div>
                        <div class="col-md-4">
                            <div class="form-group center-label">
                                <label>Ảnh chụp quét biển số</label>
                                <img src='{{apiUrlImage + imagePlate}}' alt="" width="100%">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group center-label">
                                <label>Nhận diện biển số</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label>Tài xế</label>
                            <ng-select [(ngModel)]="dataCheckIn.vehicle" [disabled]="imagePlate == imageThumbnails">
                                        <ng-option *ngFor="let item of optionsVehicle"
                                            [value]="item?.code">{{item?.code}}</ng-option>
                                    </ng-select>
                          </div>
                        <div class="col-md-4">
                            <div class="form-group center-label">
                                <label>Ảnh chụp quét tài xế</label>
                                <img src='{{apiUrlImage + imagePlate}}' alt="" width="100%">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group center-label">
                                <label>Nhận diện tài xế</label>
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 4px;">
            <div class="card-body container-page" style="max-height: 60vh;overflow: auto;height: fit-content;">
                <div class="d-flex-wrap d-gap d-space-bw mt-3">
                    <div class="card-title mb-2 p-0">
                        <i class="bi bi-list-ul"></i>
                        DANH SÁCH ĐƠN HÀNG
                    </div>
                </div>
                <table class="table table-hover table-bordered" style="min-width: auto !important;">
                    <thead>
                        <tr>
                            <th scope="col">Số DO SAP</th>
                            <th scope="col">Thời gian</th>
                            <th scope="col">Biển số xe</th>
                            <th scope="col">Tên lái xe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstOrderSmo">
                            <th>{{item?.doSap}}</th>
                            <td>{{item?.time | date:'dd/MM/yyyy hh:mm'}}</td>
                            <td>{{item?.vehicle}}</td>
                            <td>{{item?.driver}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>