<div class="card">
  <div class="card-body container-page">
    <div class="d-flex flex-wrap d-gap d-space-bw mt-3">
      <div class="card-title p-0 mb-1">
        <i class="bi bi-journal-text"></i>
        Trạm trộn - Danh sách đơn hàng
      </div>
      <!-- <div class="d-flex d-gap flex-wrap card-function p-0">
        <button type="button" class="btn btn-primary" (click)="openCreate()">
          <i class="bi bi-plus-lg"></i> Thêm mới
        </button>
        <button type="button" class="btn btn-success" (click)="finish()">
          <i class="bi bi-plus-lg"></i> Hoàn thành
        </button>
        <button type="button" class="btn btn-warning" (click)="print()">
          <i class="bi bi-plus-lg"></i> In phiếu
        </button>
      </div> -->
    </div>
    <div class="d-flex d-gap-2 flex-wrap mt-1">
      <div class="d-flex flex-wrap d-gap-2">
        <div>
          <input [(ngModel)]="filter.FromDate" type="date" class="form-control" placeholder="Từ ngày" />
        </div>
        <div>
          <input [(ngModel)]="filter.ToDate" type="date" class="form-control" placeholder="Đến ngày" />
        </div>
      </div>

      <div class="d-flex flex-row flex-grow-1 multi-dropdown">
        <!-- <select class="form-select" aria-label="Trạng thái" [(ngModel)]="filter.State">
          <option [value]="''" selected>Trạng thái</option>
          <option *ngFor="let state of list_state" [value]="state?.value">{{state?.name}}</option>
        </select> -->
        <!-- <mat-form-field> -->
        <span *ngIf="selectedStates.length == 0" class="dropdown-value">Trạng thái</span>
        <ng-container *ngIf="selectedStates.length >= 1">
          <div class="dropdown-value">
            <span *ngFor="let item of selectedStates" style="white-space: nowrap"> {{ item.name }},&nbsp; </span>
          </div>
        </ng-container>
        <mat-select class="form-select" placeholder="Trạng thái" [formControl]="states" [(value)]="selectedStates"
          multiple>
          <mat-option *ngFor="let state of list_state_order" [value]="state">{{ state?.name }}</mat-option>
        </mat-select>
        <!-- </mat-form-field> -->
      </div>

      <div class="d-flex flex-row flex-grow-1">
        <input type="text" placeholder="Khách hàng" aria-label="Khách hàng" class="form-control"
          (input)="onChangePartner($event)" [matAutocomplete]="auto1" [(ngModel)]="partnerSelected.name" />
        <mat-autocomplete #auto1="matAutocomplete">
          <mat-option *ngFor="let partner of listPartnerFilter" [value]="partner.name"
            (onSelectionChange)="selectPartner(partner, $event)" [class.selected]="partner.selected">
            <span>
              {{ partner.name }}
            </span>
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="d-flex flex-row flex-grow-1">
        <input type="text" placeholder="Hàng hoá" aria-label="Hàng hoá" class="form-control"
          (input)="onChangeItem($event)" [matAutocomplete]="auto2" [(ngModel)]="itemSelected.name" />
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option *ngFor="let item of listItemFilter" [value]="item.name"
            (onSelectionChange)="selectItem(item, $event)" [class.selected]="item.selected">
            <span>
              {{ item.name }}
            </span>
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="d-flex flex-row flex-grow-3">
        <div class="input-group search-box">
          <input (keyup.enter)="search()" type="text" class="form-control" [(ngModel)]="filter.keyWord"
            placeholder="Nhập từ khóa tìm kiếm" />
          <span (click)="search()" class="input-group-text"><i class="bi bi-search"></i></span>
          <span (click)="reload()" class="input-group-text"><i class="bi bi-arrow-clockwise"></i></span>
        </div>
      </div>
    </div>
    <div class="list-container border-top border-bottom mb-3 mt-1">
      <table *ngIf="paginationResult && paginationResult.data?.length > 0"
        class="table table-hover table-click-row table-custom mt-2">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <!-- <th class="text-center"><input class="cursor-pointer" type="checkbox" (change)="selectAll($event)"></th> -->
            <th class="text-center">STT</th>
            <th>Mã đơn hàng</th>
            <th>Ngày đặt hàng</th>
            <th>Ngày giờ đổ</th>
            <th>Hàng hoá</th>
            <th>Khách hàng</th>
            <th class="text-right">Số lượng</th>
            <th class="text-right">Số lượng lũy kế</th>
            <th class="text-center">Trạng thái</th>
          </tr>
        </thead>
        <tbody class="accordion" id="accordionExample">
          <ng-container *ngFor="let item of paginationResult.data; index as i">
            <tr>
              <td>
                <div *ngIf="item.orderReleases?.length > 0">
                  <span class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#' + item.code" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"></span>
                </div>
              </td>
              <!-- <td class="text-nowrap text-center"><input class="cursor-pointer" type="checkbox"
                  (change)="selectOrder(item)" [checked]="isChecked(item)"></td> -->
              <td class="text-center">{{ i + 1 }}</td>
              <td class="cursor-pointer text-primary">
                <span (click)="openEdit(item)">
                  {{ item.code }}
                </span>
              </td>
              <td>{{ item.createDate }}</td>
              <td>{{ item.pourDate }}</td>
              <td>{{ item.itemName }}</td>
              <td>{{ item.partnerName }}</td>
              <td class="text-right">{{ item.orderNumber | number }}</td>
              <td class="text-right">{{ totalExportNumber(item?.orderDetails) | number }}</td>
              <td>
                <div *ngIf="state_order[item?.state]" class="label-status text-center"
                  [style.background]="state_order[item?.state].background"
                  [style.color]="state_order[item?.state].color">
                  {{ state_order[item?.state].name }}
                </div>
              </td>
            </tr>
            <tr *ngIf="item.orderReleases?.length > 0">
              <td colspan="14" style="padding: 0 !important; border: none">
                <div [attr.id]="item.code" class="accordion-collapse collapse"
                  aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    <table class="table table-hover table-click-row">
                      <thead>
                        <tr>
                          <td scope="col" width="120px">Mã phiếu</td>
                          <td scope="col" width="130px">Ngày giờ xuất</td>
                          <td scope="col" width="150px">Xe bồn</td>
                          <td scope="col" width="150px">Xe bơm</td>
                          <td scope="col" width="150px">Máy trộn</td>
                          <td scope="col" class="align-right" width="150px">Số lượng</td>
                          <td scope="col" class="align-right" width="150px">KL. cân vào</td>
                          <td scope="col" class="align-right" width="150px">KL. cân ra</td>
                          <td scope="col" width="150px">Trạng thái</td>
                          <th class="text-center" width="50px">--/-</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let os of item.orderReleases">
                          <td class="cursor-pointer text-primary">
                            <span (click)="openInforOR(os, item)">
                              {{ os.code }}
                            </span>
                          </td>
                          <td>{{ os.mixDate | date : 'dd/MM/yyyy hh:mm' }}</td>
                          <td>{{ os.mixVehicleCode }}</td>
                          <td>{{ os.pumpVehicleCode }}</td>
                          <td>{{ os?.mixer?.name }}</td>
                          <td class="align-right">{{ os.mixNumber | number }}</td>
                          <td class="align-right">{{ os.weightIn | number }}</td>
                          <td class="align-right">{{ os.weightOut | number }}</td>
                          <td *ngIf="state_orderRelease[os?.state]" [style.color]="state_orderRelease[os?.state].color">
                            {{ state_orderRelease[os?.state].name }}
                          </td>
                          <td *ngIf="!state_orderRelease[os?.state]" class="text-primary"></td>
                          <td class="text-center"><i class="bi bi-pencil cursor-pointer"
                              (click)="openEditOR(os, item)"></i></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <app-empty *ngIf="!paginationResult || paginationResult.data?.length == 0"></app-empty>
      <div class="float-end" *ngIf="paginationResult">
        <app-pagination [pageSize]="paginationResult.pageSize" [totalRecord]="paginationResult.totalRecord"
          [totalPage]="paginationResult.totalPage" [(page)]="paginationResult.currentPage"
          (pageChange)="onChangePage($event)" (pageSizeChange)="pageSizeChange($event)"></app-pagination>
      </div>
    </div>
  </div>
</div>
